
@model MagicPlaceFront.Models.ViewModel.OcuppanDeleteViewModel;

@{
    ViewData["Title"] = "DeleteOccupant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DeleteOccupant</h1>

<form method="post" asp-action="DeleteOccupant">


    <div class="container border p-3">

        <div asp-validation-summary="All" class="text-danger"></div>

        <input hidden asp-for="ObjOccupant.IdCard" />

        <div class="row">
            <h2 class="text-info">Delete Occupant</h2>
        </div>
        <div class="row mt-2">

            <div class="col-md-6">
                <label class="form-label">Dni Occupant</label>
                <input asp-for="ObjOccupant.IdCard" class="form-control" disabled />
                <span asp-validation-for="ObjOccupant.IdCard" class="text-danger"></span>

            </div>

        </div>

        <div class="row mt-2">

            <div class="col-md-6">
                <label class="form-label">Name Occupant</label>
                <input asp-for="ObjOccupant.NameOccupant" class="form-control" disabled />
                <span asp-validation-for="ObjOccupant.NameOccupant" class="text-danger"></span>

            </div>

        </div>

        @*input del tipo select para la selecion de habitacion *@

        <div class="row mt-2">

            <div class="col-md-6">
                <label class="form-label">Room</label>
                <select asp-for="ObjOccupant.RoomId" disabled class="form-select" asp-items="@Model.RoomList">
                    <option value="">--Seleccione Una habitacio&acute;n--</option>
                </select>
                <span asp-validation-for="ObjOccupant.RoomId" class="text-danger"></span>
            </div>

        </div>

        <div class="d-grid gap-2 d-md-block mt-2">

            <button type="submit" class="btn btn-primary">Delete</button>
            <a class="btn btn-success" asp-controller="Occupant" asp-action="IndexOccupants">Back To List</a>

        </div>


    </div>


</form>

